.profile__job {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
  margin-top: 9px;
}
@media screen and (max-width: 881px) {
  .profile__job {
    width: 100%;
    font-size: 14px;
    line-height: 1.214;
    text-align: center;
    margin-bottom: 31px;

  }
}
