.footer {
    margin: 0 auto 0 auto;
    max-width: 880px;
    padding-top: 66px;
    padding-bottom: 66px;
  }
@media screen and (max-width:881px){
  .footer{
    max-width: calc(100% - 38px);
    padding: 48px 0 36px 19px;
  }

}
