.popup__container_type_image {
  background-color: transparent;
  font-family: "Inter","Arial",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  max-width:433px;
  max-height: 440px;
  color: #ffffff;
}
