.popup__logined{
    background-image: url(../../../images/popup/Blocked.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 80px auto;
    width:120px;
    height: 120px;
}